.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.page { 
    width: 100%;
    background-color: antiquewhite;
    padding: var(--mantine-spacing-lg)
}